<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
    <div>
        {{ form(form) }}
    </div>
    <br>
    <div>
        {{ shortUrl }}
    </div>
</body>
</html>